div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.green.light {
  background-color: green;
}

.yellow.light {
  background-color: yellow;
}

.red.light {
  background-color: red;
}
